<!DOCTYPE html> 
<html>
	<head>
		<link rel="stylesheet" href="../styles/main.css">
		<script src="../js/loader.js"></script>
		<title> Memory - Joc </title>
	</head>
	<body>
		<div id="game_id">
			<p class="menu-object" id="title"> {{username}} està jugant</p>
			<p class="menu-object" id="title" v-if="score_text <= 0"> Has perdut </p>
			<p class="menu-object" id="title" v-else-if="num_cards <= 0">
				Has guanyat!!! Tens {{score_text}} punts
			</p>
			<div v-else>
				<img v-for="(card, indx) in current_card" :src="card.texture" v-on:click="clickCard(indx)">
				<button class="menu-object" v-on:click="save"> Guarda </button>
			</div>
		</div>
		<a class="menu-object" href="../">Torna al menú</a>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="../js/game_controller.js"></script>
</html>

